/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    color: #222;
    font-size: 1em;
    font-family: 'Overpass', sans-serif;
    font-weight:300;
    line-height: 140%;
    width:100%;
    height:100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a{
    color:#000;
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 0px;
}

.vertical-center{	
    margin-top:100px;
    width:100%;
    display:inline-block;
    background-size:cover;
}

.coffee-title{
    width:30%;
    text-align: center;
    margin-top:-70px;
    margin-left:35%;
}

@media(max-width:600px) {
    .coffee-title{
        margin-top:0px;
    }
}

.coffee-title img{
    filter:invert(100%);
    width:100%;
}

.box-effect{
    margin-top:-15px;
    margin-left:-15px;
    padding-bottom:15px;
}

.box-effect-sm{
    margin-left:-25px;
    padding:0px;.
    margin-top:-1px;
    padding-right:10px;
    line-height:13px;
}

#home a{
    color:#fff;
    display:inline-block;
    width:auto;
    font-weight:900;
}

#home a:hover{
    text-decoration: none;
}

.full-page{
    width:100%;
    height:100%;
    display:inline-block;
}

.page{
    width:100%;
    display: inline-block;
    padding:4% 0% 6% 0%;
}

.gradient{
    background-image:url(/img/gradien%202.png);
    background-size:cover;
}

.gradient-reverse{
    background-image:url(/img/gradient%205.png);
    background-size:cover;
}

.white{
    background:#fff;
}

.white-box{
    display: block;
    width:100%;
    text-align: center;
    border-radius:8px;
}

.white-box-insta{
    margin-top:30px;
    display: block;
    width:100%;
    text-align: center;
    border-radius:18px;
    transition: .1s ease-in-out;
    overflow: hidden;
    background:#000;
}

.white-box-insta img{
    width:100%;
    transition: .1s ease-in-out;
}

.white-box-insta:hover img{
    transform: scale(1.3);
    opacity:.5;
}

.black-link a{
    color:#000;
}

.invis{
    display:none;
}

.outlined{
    padding:15px;
    margin-top:10px;
    border:3px solid #000;
    width:90px;
    height:90px;
    text-align: center;
    line-height:55px;
    border-radius: 100%;
    transition: .2s ease;
}

close{
    letter-spacing: -2px;
}

.between{
    text-align: center;
    color:#fff;
}

.link-arrow{
    top:40%;
    right:30px;
    position:absolute;
    z-index: 99999;
}

.white-box:hover .outlined{
    transform: rotate(180deg);
}

p{
    font-family:'Overpass', sans-serif;
    font-size:15px;
    letter-spacing:.5px;
}

h1{
    font-family:'Overpass';
    font-weight:900;
    font-size:30px;
    letter-spacing: 1px;
}

h2{
    font-family:'Overpass', sans-serif;
    font-weight:600;
    font-size:24px;
    line-height:34px;
    letter-spacing: -1px;
    display:inline-block;
}

h3{
    font-family:'Overpass', sans-serif;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing:4px;
    font-size:12px;
    display:inline-block;
}

h4{
    font-family: 'Overpass', sans-serif;
    font-size:15px;
}

.buttons{
    margin-top:15px;
}

.buttons a{
    color:#2A3031;
    text-decoration: none;
    border:3px solid #2A3031;
    border-radius:15px;
    padding:8px;
    transition: .5s ease;
    font-family: 'Overpass Mono', monospace;
    font-size:12px;
    text-transform: uppercase;
}

.buttons a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
    letter-spacing: 0px;
}

.left{
    text-align: left;    
}

.space{
    padding:15px 25px 15px 25px;
    margin-top:30px;
}


#nav-bubble{
    left:15px;
    top:15px;
    position: fixed;
}

@media(max-width:600px){
    #nav-bubble{
        display:none;
    }
}

ul{
    text-align: left;
    margin-left:0px;
    padding:0;
    list-style-type: none;    
}

li a{
    color:rgba(255,255,255,.5);
    font-weight:300;
}

li.active .circle{
    background:white;
}

.circle{
    display:inline-block;
    font-size:14px;
    width:15px;
    height:15px;
    color:transparent;
    border:3px solid #fff;
    border-radius:100%;
    margin-bottom:5px;
    box-shadow:0px 0px 5px rgba(0,0,0,.18);
    background:rgba(0,0,0,.2);
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    text-indent: 25px;
}

.portfolio-post{
    margin-top:40px;
    text-align:center;
    color:#fff;
    height:350px;
    overflow:hidden;
    outline:3px solid #fff;
    outline-offset: 0px;
    transition: 0.25s ease;
    opacity:1;
    border-radius:0px;
}

.portfolio-post:hover{
    outline-offset:-20px;    
    opacity:.8;
}

.portfolio-post h3{
    color:#fff;
    border-bottom:1px solid #fff;
    padding-bottom: 10px;
    width:70%;
    margin-top:15%;
}

.comp{
    background: url(/img/computer.jpg);
    background-size:cover;
}

.comp:hover{
    background-position: center;
}

#home{
    overflow:hidden;
    color:#fff;
}

seeking{
    background:url(/img/gradient%20reverse.png);
    display:inline-block;
    color:#fff;
    padding:5px;
    border-radius:10px;
    text-transform: uppercase;
    font-family:'Overpass Mono', monospace;
}

th,td{
    padding:5px;
}

.footer{
    font-family: 'Overpass', sans-serif;
    background:#2A3031;
    padding:20px;
    color:#fff;
}

.footer h1{
    font-family: 'Overpass', sans-serif;
    font-weight:900;
    font-size:25px;
    line-height:
}

.footer h2{
    font-size:15px;
    text-transform: uppercase;
    letter-spacing:1px;
}

.footer h3{
    line-height:0px;
}

.social-icons i{
    color:#fff;
    padding:0px 10px 5px 10px;
    border-bottom:2px solid transparent;
}

.social-icons i:hover{
    letter-spacing:0px;
    border-bottom:2px solid #fff;
    color:rgba(255, 255, 255, 0.3);
}

.location{
    text-align: center;
    font-weight: 300;
    font-size:14px;
    line-height:14px;
}

.color-blocks{
    background-image:url(/img/gradient%205%20black.png);
    background-size:cover;
    width:29.333%;
    margin:2%;
    padding-bottom:10px;
    color:#fff;
    padding-top:10px;
    background-position: top;
    transition:.5s all ease-in-out;
}

.color-blocks h2{
    margin-top:5px;
    border-bottom:2px solid #fff;
    width:100%;
}

.color-blocks:hover{
    color:#000;
    background-position: bottom;
}

@media(max-width:600px){
    .color-blocks{
        width:100%;
        background:#000;
    }
}

.line{
    display: block;
    border-bottom:1px solid #bbb;
    margin-bottom:15px;
    height:0px;
    width:25%;
}

#about img{
    width:100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
